{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <main class="container my-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center mb-4">Sell in Agro Marketplace</h2>
                   <form action="{% url 'create_seller' %}" method="POST" class="p-4 border rounded"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Title Field -->
                        <div class="mb-3">
                            <div class="text-danger">
                                {{ seller_form.title.errors }}
                            </div>
                            {{ seller_form.title.label_tag }}
                            {{ seller_form.title }}
                        </div>
                        <!-- Category Field -->
                        <div class="mb-3">
                            <div class="text-danger">
                                {{ seller_form.category.errors }}
                            </div>
                            {{ seller_form.category.label_tag }}
                            {{ seller_form.category }}
                        </div>
                        <!-- Location Field with Icon -->
                        <div class="text-danger">
                            {{ seller_form.location.errors }}
                        </div>
                        {{ seller_form.location.label_tag }}
                        <div class="mb-3 d-flex align-items-center">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                                {{ seller_form.location }}
                            </div>
                        </div>
                        <!-- Description Field -->
                        <div class="mb-3">
                            <div class="text-danger">
                                {{ seller_form.description.errors }}
                            </div>
                            {{ seller_form.description.label_tag }}
                            {{ seller_form.description }}
                        </div>
                        <div class="photo-framework">
                            <label for="id_photo_1"><div class="text-danger">{{ seller_form.photo_1.errors }}</div>
                                {{ seller_form.photo_1.label_tag }}</label>
                            <div class="photo-container">
                                <img
                                        id="photoPreview1"
                                        src="{% static 'images/default products2.jpg' %}"
                                        alt="Photo 1"
                                        class="photo-preview"
                                />
                                {{ seller_form.photo_1 }}
                                <button
                                        type="button"
                                        class="btn btn-primary upload-button"
                                        onclick="document.getElementById('id_photo_1').click();"
                                >
                                    Upload Photo 1
                                </button>
                            </div>
                        </div>

                        <div class="photo-framework">
                            <label for="id_photo_2"><div class="text-danger">{{ seller_form.photo_2.errors }}</div>
                                {{ seller_form.photo_2.label_tag }}</label>
                            <div class="photo-container">
                                <img
                                        id="photoPreview2"
                                        src="{% static 'images/default products2.jpg' %}"
                                        alt="Photo 2"
                                        class="photo-preview"
                                />
                                {{ seller_form.photo_2 }}
                                <button
                                        type="button"
                                        class="btn btn-primary upload-button"
                                        onclick="document.getElementById('id_photo_2').click();"
                                >
                                    Upload Photo 2
                                </button>
                            </div>
                        </div>

                        <div class="photo-framework">
                            <label for="id_photo_3"><div class="text-danger">{{ seller_form.photo_3.errors }}</div>
                                {{ seller_form.photo_3.label_tag }}</label>
                            <div class="photo-container">
                                <img
                                        id="photoPreview3"
                                        src="{% static 'images/default products2.jpg' %}"
                                        alt="Photo 3"
                                        class="photo-preview"
                                />
                                {{ seller_form.photo_3 }}
                                <button
                                        type="button"
                                        class="btn btn-primary upload-button"
                                        onclick="document.getElementById('id_photo_3').click();"
                                >
                                    Upload Photo 3
                                </button>
                            </div>
                        </div>
                        <div class="photo-framework">
                            <label for="id_photo_4"><div class="text-danger">{{ seller_form.photo_4.errors }}</div>
                                {{ seller_form.photo_4.label_tag }}</label>
                            <div class="photo-container">
                                <img id="photoPreview4" src="{% static 'images/default products2.jpg' %}" alt="Photo 4"
                                     class="photo-preview"/>
                                {{ seller_form.photo_4 }}
                                <button type="button" class="btn btn-primary upload-button"
                                        onclick="document.getElementById('id_photo_4').click();">
                                    Upload Photo 4
                                </button>
                            </div>
                        </div>

                        <!-- Phone for Contacts -->
                        <div class="mb-3">
                            <div class="text-danger">
                                {{ seller_form.phone.errors }}
                            </div>
                            {{ seller_form.phone.label_tag }}
                            {{ seller_form.phone }}
                        </div>

                        <!-- Quantity Field -->
                        <div class="mb-3" class="form-group">
                            <div class="text-danger">
                                {{ seller_form.quantity.errors }}
                            </div>
                            {{ seller_form.quantity.label_tag }}
                            <div class="d-flex">
                                {{ seller_form.quantity }}
                                {{ seller_form.unit_of_measure }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="text-danger">
                                {{ seller_form.price_type.errors }}
                            </div>
                            {{ seller_form.price_type.label_tag }}
                            {{ seller_form.price_type }}
                        </div>

                        <div id="pricePerUnitContainer" class="form-group" style="display: none;">
                            <div class="text-danger">
                                {{ seller_form.price_per_unit.errors }}
                            </div>
                            {{ seller_form.price_per_unit.label_tag }}
                            <div class="d-flex">
                                {{ seller_form.price_per_unit }}
                                {{ seller_form.currency }}
                            </div>
                        </div>

                        <div id="priceAllQuantityContainer" class="form-group" style="display: none;">
                            <div class="text-danger">
                                {{ seller_form.price_all_quantity.errors }}
                            </div>
                            {{ product_form.price_all_quantity.label_tag }}
                            <div class="d-flex">
                                {{ seller_form.price_all_quantity }}
                                {{ seller_form.currency }}
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3">Submit</button>
                        </div>
                        <a href="#" class="btn btn-secondary" onclick="goBack()">
                            <i class="fas fa-arrow-left"></i> Back
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}