{% extends 'common/base.html' %}
{% load static %}

{% load message_tags_inbox %}

{% block content %}
    <!-- Main Content -->
    <main class="container my-4">
        <!-- Profile Info Section -->
        <div class="row justify-content-center">
            <div class="col-md-8 profile-container">
                <h2 class="text-center mb-4">Profile Information</h2>
                <div class="card p-4 info-profile">
                    <!-- Back Button -->
                    <div class="mt-3 text-center mb-4">
                        <a href="{% url 'dash' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back
                        </a>
                    </div>

                    <!-- Profile Picture -->
                    <div class="col-md-12 mb-3 text-center">
                        <div class="profile-photo-container">
                            <img src="{% if form.profile_photo.value %}{{ form.profile_photo.value.url }}{% else %}{% static 'images/profile_picture.webp' %}{% endif %}">
                        </div>
                    </div>

                    <!-- Profile Details -->
                    <div class="mb-3 info-profile-text">
                        <h5>Full Name:</h5>
                        <p>{{ user.profile.full_name }}</p>
                    </div>
                    <div class="mb-3 info-profile-text">
                        <h5>Name in Agro Marketplace:</h5>
                        <p>{{ user.profile.username_in_marketplace }}</p>
                    </div>
                    <div class="mb-3 info-profile-text">
                        <h5>Email:</h5>
                        <p>{{ user.email }}</p>
                    </div>
                    <div class="mb-3 info-profile-text">
                        <h5>Country code and phone :</h5>
                        <p>{{ user.profile.country_code }} {{ user.profile.phone }}</p>
                    </div>
                    <div class="mb-3 info-profile-text">
                        <h5>Location:</h5>
                        <p>{{ user.profile.town }}, </p>
                    </div>

                    <!-- Sell Ads -->
                    <div class="mb-3 info-profile-text">
                        <h5>Sell Ads:</h5>
                        <p>{{ profile.seller_products.count }} Active Ads</p> <!-- Replace with actual data -->
                    </div>

                    <!-- Buy Ads -->
                    <div class="mb-3 info-profile-text">
                        <h5>Buy Ads:</h5>
                        <p>{{ profile.buyer_products.count }} Active Ads</p> <!-- Replace with actual data -->
                    </div>

                    <!-- Number of Messages -->
                    <div class="mb-3 info-profile-text">
                        <h5>Messages:</h5>
                        {% message_counts request.user as message_counts %}
                        <p>{{ message_counts.all_count }} Total Messages</p> <!-- Replace with actual data -->
                    </div>

                    <div class="text-center mt-4">
                        <!-- Active Listings Button -->
                        <a href="{% url 'active-listings' profile.pk %}" class="btn btn-primary me-2">
                            <i class="fas fa-list"></i> Active Listings
                        </a>

                        <!-- Inactive Listings Button -->
                        <a href="{% url 'inactive-listings' profile.pk %}" class="btn btn-secondary me-2">
                            <i class="fas fa-list-alt"></i> Inactive Listings
                        </a>
                    </div>

                    <!-- Delete Account Button -->
                    <div class="text-center mt-4">
                        <a href="{% url 'profile-delete' profile.pk %}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete Account
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
