{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <main class="container my-4">
        <section id="contact-info" class="container mt-5">
            <h2>Contact Information</h2>
            <p>Feel free to get in touch with us for any inquiries or support!</p>
            
            <ul class="list-unstyled">
                <li><strong>Contact Person:</strong> Aleksey Kostov</li>
                <li><strong>Phone:</strong> <a href="tel:+359883330272">+359 883 330 272</a></li>
                <li><strong>Office Location:</strong> Sofia, Bulgaria</li>
                <li><strong>Employees:</strong> Around 10 employees</li>
            </ul>
        
            <p>We are always happy to assist you and look forward to collaborating!</p>
        </section>
    </main>
{% endblock %}
